.numbers {
  background-color: #0088cc;
  width: 100%;
  .numberInner {
    height: 90px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;

    .numberEl {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        font-size: 40px;
        font-weight: bold;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
