.wrapper {
  .titleCon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    h5 {
      color: #212529;
      font-weight: 600;
      font-size: 16px;
    }

    span {
      color: #f03e3e;
      font-weight: 600;
      font-size: 16px;
      margin-left: 2px;
    }
  }

  .searchInputCon {
    border: 1px solid #ced4da;
    width: 100%;
    border-radius: 8px;
    transition: border 0.1s ease-in-out;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;

    .searchInput {
      flex: 1;
      outline: none;
      border: none;
      padding: 8px 14px;
    }
    &:focus {
      border: 1px solid #0088cc;
    }
  }

  .scrollable {
    margin-top: 24px;
    // height: 320px;
    height: 48vh;
    overflow-y: auto;
  }
}
