.ratingCon {
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcf3ff;
  border-radius: 48px;
  padding: 6px 8px;
  color: #0088cc;

  img {
    margin-right: 2px;
  }
}
