.wrapper {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  //   height: 270px;
  padding: 22px 0;

  .header {
    padding: 0 22px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .company {
      color: #8a8a8a;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 6px;
      span {
        text-decoration: underline;
      }
    }

    .priceCon {
      background-color: #dcf3ff;
      border-radius: 48px;
      padding: 8px 16px;
      .priceTxt {
        font-weight: bold;
        font-size: 16px;
        color: #0088cc;
      }
    }
  }

  .body {
    padding: 0 22px;

    .title {
      font-size: 18px;
      font-weight: 600;
      margin-top: 15px;
    }
    .description {
      font-size: 14px;
      color: #8a8a8a;
      margin-top: 4px;
    }

    .appliedCon {
      margin-top: 18px;
      font-size: 14px;
      color: #6a6a6a;
      margin-bottom: 22px;
      display: flex;
      align-items: center;
      p {
        padding-top: 2px;
        margin-left: 4px;
      }
    }
  }

  .tagsCon {
    padding-left: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    // flex-wrap: wrap;
    overflow-x: auto;
    gap: 5px;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }

    .tagWrapper {
      color: #6a6a6a;
      border: 1px solid #eaeaea;
      background-color: #fbfbfb;
      padding: 8px 16px;
      border-radius: 48px;
      white-space: nowrap;

      &:last-of-type {
        margin-right: 22px;
      }
    }
  }
  //   .tagsCon {
  //     display: flex;
  //     gap: 5px;
  //     align-items: center;
  //     flex-wrap: nowrap;
  //     overflow-y: scroll;

  //   }
}

.line {
  width: 100%;
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
}
