.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #eaeaea;

  // -webkit-box-shadow: 0 10px 24px 1px #0000001a;
  // -moz-box-shadow: 0 10px 24px 1px #0000001a;
  // box-shadow: 0 10px 24px 1px #0000001a;

  .navbarContent {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .row {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .title {
      color: #8a8a8a;
      font-size: 14px;
    }

    .backImg {
      padding-top: 2px;
    }
  }
}
